@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$test-border: 0px;
$divider-width: 0.5px;
$divider-color: rgba(256, 256, 256, 0.35);
$divider-color-bright: rgba(256, 256, 256, 0.65);

@mixin hover-btn {
  outline: none;
  border: none;
  color: white;
  background-color: rgba(256, 256, 256, 0.1);
  transition: background-color 300ms;
  &:hover {
    background-color: rgba(256, 256, 256, 0.3);
  }
}
@mixin divider-v {
  content: '';
  position: absolute;
  width: $divider-width;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: -0.6rem;
  background-color: $divider-color;
}
@mixin divider-res {
  content: '';
  position: absolute;
  width: $divider-width;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: -0.6rem;
  background-color: $divider-color;
  @media screen and (max-width: 720px) {
    width: 100%;
    height: $divider-width;
    left: 50%;
    top: auto;
    bottom: -0.1rem;
    transform: translateX(-50%);
  }
}
@mixin divider-h {
  content: '';
  position: absolute;
  width: 100%;
  height: $divider-width;
  left: 50%;
  top: auto;
  bottom: -0.1rem;
  background-color: $divider-color;
  transform: translateX(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.root {
  background: linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0)),
    url('../assets/bg2.jpg') no-repeat top;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr auto;
  overflow-y: scroll;
  @media screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }
}
* {
  border: $test-border solid black;
}

.current {
  padding: 0.5rem;
  padding-right: 2rem;
  grid-row: 1;
  grid-column: 1;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
  * {
    padding: 0.25rem;
  }
  .c1,
  .c2 {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  &-main {
    font-size: 6rem;
  }
  &-status {
    font-size: 2rem;
  }

  position: relative;
  &::after {
    @include divider-res();
    right: 0;
  }
  @media screen and (max-width: 720px) {
    height: fit-content;
  }
}

.sideinfo {
  padding: 0.5rem;
  padding-left: 2rem;
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: end;
  .side-time {
    color: darken($color: white, $amount: 25);
  }
  .side-location {
    font-size: 2.75rem;
  }
  .side-sunrise,
  .side-sunset {
    margin-top: 0.5rem;
  }
  .location-form {
    margin-top: auto;
    display: flex;
    width: 100%;
    input {
      color: white;
      outline: none;
      border: none;
      padding: 0.5rem;
      width: 100%;
      border-bottom: 2px solid $divider-color;
      background-color: rgba(0, 0, 0, 0.1);
      &:focus {
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid $divider-color-bright;
      }
      transition: all 250ms;
    }

    button {
      padding: 0.25rem 0.5rem;
      text-transform: uppercase;
      @include hover-btn();
    }
  }
  .location-err {
    margin-top: 1rem;
    font-size: 0.65rem;
  }
  .location-err-hidden {
    display: none;
  }
  @media screen and (max-width: 720px) {
    height: fit-content;
    padding: 2rem 0 0.75rem 0.5rem;
    align-items: start;
    .location-form {
      margin-top: 3rem;
      width: auto;
    }
  }
}
.forecast {
  margin-top: 2rem;
  padding: 0.5rem;
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  position: relative;
  &::before {
    @include divider-h();
    top: -0.6rem;
  }
}
.forecast-btn {
  .btn {
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    width: 6rem;
    @include hover-btn();
  }
  .btn-active {
    background-color: rgba(256, 256, 256, 0.3);
  }
}
.forecast-data {
  display: flex;
  overflow: scroll;
  gap: 1rem;

  .daily,
  .hourly {
    padding: 0.25rem 1rem;
    text-align: center;
    min-width: 8rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;

    .daily-max,
    .daily-min,
    .hourly-temp {
      font-size: 1.25rem;
    }
    .daily-min {
      color: darken($color: white, $amount: 25);
    }

    position: relative;
    &:not(:last-child)::after {
      @include divider-v();
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.mi-4x {
  text-align: center;
  font-size: 60px;
  padding: 20px 5px;
}
.mi-5x {
  text-align: center;
  font-size: 75px;
  padding: 20px 5px;
}
